*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgba(190, 185, 193, 0.1);
}

.container{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(190, 185, 193, 0.3);
    padding: 60px;
}

form button, input{
    outline: none;
    padding: 5px 20px;
    margin: 7px;
    font-size: 20px;
}

.searchInp{
    width: 80%;
}

.imagesDiv{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding: 0px 90px;
    flex-wrap: wrap;
}

.images{
    width: 120px;
    height: 120px;
    object-fit: cover;
    padding: 10px;
}

.errorTxt{
    margin: 10px 7px;
    color: red;
    font-size: 25px;
}

.busketsNameDivs{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.busketsLook{
    min-width: 23%;
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
    padding: 20px 10px;
    background-color: aqua;
}


.busketsLook img{
    display: none;
}

.draggableDiv{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    min-width: 200px;
    min-height: 100px
}

.busketsimagesDiv{
    padding: 10px;
}

.busketsimagesDiv div{
    display: none;
    margin: 25px 10px;
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: beige;
}

